body {
    font-family: sans-serif;
    background-color: #009999	;
}

header {
    justify-content: space-between;
    padding: 0px 5px 10px 5px;
    margin-bottom: 20px;
}

.button {
    background-color: #FF9640;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: white;
    padding: 5px 5px 15px 5px;
    width: 400px;
    margin: 30px 30px 30px 30px;
}

.article-but {
    text-decoration: none;
    background-color: grey;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: #BF7130;
    padding: 40px;
}

footer a {
    margin-right: 30px;
}

footer p {
    font-size: 24px;
}
